.flex-repository
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    background-color: greenyellow;
    height: 500px;
    width: 500px;
    row-gap: 5px;
    flex-wrap: wrap;
}

.item
{
    background-color: pink;
    text-align: center;
    align-items: center;
    width: 50px;
    line-height: 55px;

}

